<!-- HTML -->
<div id="example-section17">
    <div id="legendPlaceholder"></div>
    <div id="flotcontainer" style="width: 600px;height:400px; text-align: left;"></div>
</div>


<!-- Javascript -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="http://www.pureexample.com/js/flot/excanvas.min.js"></script>
<script src="http://www.pureexample.com/js/flot/jquery.flot.min.js"></script>
<script src="http://www.pureexample.com/js/flot/jquery.flot.pie.min.js"></script>
<script type="text/javascript">
    $(function () {
        var data = [
            {label: "data1", data:10},
            {label: "data2", data: 20},
            {label: "data3", data: 30},
            {label: "data4", data: 40},
            {label: "data5", data: 50},
            {label: "data6", data: 60},
            {label: "data7", data: 70}
        ];

        var options = {
            series: {
                pie: {show: true}
            },
            legend: {
                show: false
            }
        };

        $.plot($("#example-section17 #flotcontainer"), data, options);
    });
</script>