<!DOCTYPE html>
<html dir="ltr" lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicon.png">
    <title>Matrix Template - The Ultimate Multipurpose admin template</title>
    <!-- Custom CSS -->
    <link href="assets/libs/fullcalendar/dist/fullcalendar.min.css" rel="stylesheet"/>
    <link href="assets/extra-libs/calendar/calendar.css" rel="stylesheet"/>
    <link href="assets/libs/flot/css/float-chart.css" rel="stylesheet">
    <link href="dist/css/style.min.css" rel="stylesheet">
</head>
<body>
<div class="preloader">
    <div class="lds-ripple">
        <div class="lds-pos"></div>
        <div class="lds-pos"></div>
    </div>
</div>
<div id="main-wrapper">
    <header class="topbar" data-navbarbg="skin5">
        <nav class="navbar top-navbar navbar-expand-md navbar-dark">
            <div class="navbar-header" data-logobg="skin5">
                <a class="nav-toggler waves-effect waves-light d-block d-md-none" href="javascript:void(0)"><i
                        class="ti-menu ti-close"></i></a>
                <a class="navbar-brand" href="index.html">
                    <b class="logo-icon p-l-10">
                        <img src="assets/images/logo-icon.png" alt="homepage" class="light-logo"/>
                    </b>
                    <span class="logo-text">
                            <img src="assets/images/logo-text.png" alt="homepage" class="light-logo"/>
                        </span>
                </a>
                <a class="topbartoggler d-block d-md-none waves-effect waves-light" href="javascript:void(0)"
                   data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                   aria-expanded="false" aria-label="Toggle navigation"><i class="ti-more"></i></a>
            </div>
            <div class="navbar-collapse collapse" id="navbarSupportedContent" data-navbarbg="skin5">
                <ul class="navbar-nav float-left mr-auto">
                    <li class="nav-item d-none d-md-block"><a class="nav-link sidebartoggler waves-effect waves-light"
                                                              href="javascript:void(0)" data-sidebartype="mini-sidebar"><i
                            class="mdi mdi-menu font-24"></i></a></li>
                </ul>
                <ul class="navbar-nav float-right">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle waves-effect waves-dark" href="" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false"> <i class="mdi mdi-bell font-24"></i>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle waves-effect waves-dark" href="" id="2"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i
                                class="font-24 mdi mdi-comment-processing"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right mailbox animated bounceInDown"
                             aria-labelledby="2">
                            <ul class="list-style-none">
                                <li>
                                    <div class="">
                                        <a href="javascript:void(0)" class="link border-top">
                                            <div class="d-flex no-block align-items-center p-10">
                                                <span class="btn btn-success btn-circle"><i
                                                        class="ti-calendar"></i></span>
                                                <div class="m-l-10">
                                                    <h5 class="m-b-0">Event today</h5>
                                                    <span class="mail-desc">Just a reminder that event</span>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="javascript:void(0)" class="link border-top">
                                            <div class="d-flex no-block align-items-center p-10">
                                                <span class="btn btn-info btn-circle"><i class="ti-settings"></i></span>
                                                <div class="m-l-10">
                                                    <h5 class="m-b-0">Settings</h5>
                                                    <span class="mail-desc">You can customize this template</span>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="javascript:void(0)" class="link border-top">
                                            <div class="d-flex no-block align-items-center p-10">
                                                <span class="btn btn-primary btn-circle"><i class="ti-user"></i></span>
                                                <div class="m-l-10">
                                                    <h5 class="m-b-0">Pavan kumar</h5>
                                                    <span class="mail-desc">Just see the my admin!</span>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="javascript:void(0)" class="link border-top">
                                            <div class="d-flex no-block align-items-center p-10">
                                                <span class="btn btn-danger btn-circle"><i
                                                        class="fa fa-link"></i></span>
                                                <div class="m-l-10">
                                                    <h5 class="m-b-0">Luanch Admin</h5>
                                                    <span class="mail-desc">Just see the my new admin!</span>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark pro-pic" href=""
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img
                                src="assets/images/users/1.jpg" alt="user" class="rounded-circle" width="31"></a>
                        <div class="dropdown-menu dropdown-menu-right user-dd animated">
                            <a class="dropdown-item" href="javascript:void(0)"><i class="ti-user m-r-5 m-l-5"></i> My
                                Profile</a>
                            <a class="dropdown-item" href="javascript:void(0)"><i class="ti-wallet m-r-5 m-l-5"></i> My
                                Balance</a>
                            <a class="dropdown-item" href="javascript:void(0)"><i class="ti-email m-r-5 m-l-5"></i>
                                Inbox</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="javascript:void(0)"><i class="ti-settings m-r-5 m-l-5"></i>
                                Account Setting</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="javascript:void(0)"><i
                                    class="fa fa-power-off m-r-5 m-l-5"></i> Logout</a>
                            <div class="dropdown-divider"></div>
                            <div class="p-l-30 p-10"><a href="javascript:void(0)"
                                                        class="btn btn-sm btn-success btn-rounded">View Profile</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <aside class="left-sidebar" data-sidebarbg="skin5">
        <div class="scroll-sidebar">
            <nav class="sidebar-nav">
                <ul id="sidebarnav" class="p-t-30">
                    <li class="sidebar-item"><a class="sidebar-link waves-effect waves-dark sidebar-link" href="/mainPager"
                                                aria-expanded="false"><i class="mdi mdi-view-dashboard"></i><span
                            class="hide-menu"> 首页</span></a></li>

                    <div th:if="${#strings.substring(session.staffType,3,4)}eq'1'">
                        <li class="sidebar-item"><a class="sidebar-link waves-effect waves-dark sidebar-link"
                                                    href="/index-manage-parking" aria-expanded="false"><i
                                class="mdi mdi-view-dashboard"></i><span class="hide-menu"> 车场管理</span></a></li>
                    </div>
                    <div th:if="${#strings.substring(session.staffType,4,5)}eq'1'">
                        <li class="sidebar-item"><a class="sidebar-link has-arrow waves-effect waves-dark"
                                                    href="javascript:void(0)" aria-expanded="false"><i
                                class="mdi mdi-receipt"></i><span class="hide-menu">缴费管理 </span></a>
                            <ul aria-expanded="false" class="collapse  first-level">
                                <li class="sidebar-item"><a href="/index-charge-rule" class="sidebar-link"><i
                                        class="mdi mdi-note-outline"></i><span class="hide-menu">收费规则 </span></a></li>
                                <li class="sidebar-item"><a href="/index-order-search" class="sidebar-link"><i
                                        class="mdi mdi-note-plus"></i><span class="hide-menu">订单查询 </span></a></li>
                                <li class="sidebar-item"><a href="/index-coupon-manage" class="sidebar-link"><i
                                        class="mdi mdi-note-plus"></i><span class="hide-menu">优惠券管理 </span></a></li>
                                <li class="sidebar-item"><a href="1" class="sidebar-link"><i
                                        class="mdi mdi-note-plus"></i><span class="hide-menu">业务报表</span></a></li>
                            </ul>
                        </li>
                    </div>
                    <div th:if="${#strings.substring(session.staffType,2,3)}eq'1'">
                        <li class="sidebar-item"><a class="sidebar-link waves-effect waves-dark sidebar-link"
                                                    href="/index-data-manage" aria-expanded="false"><i
                                class="mdi mdi-view-dashboard"></i><span class="hide-menu"> 车场数据</span></a></li>
                    </div>
                    <div th:if="${#strings.substring(session.staffType,1,2)}eq'1'">
                        <li class="sidebar-item"><a class="sidebar-link has-arrow waves-effect waves-dark"
                                                    href="javascript:void(0)" aria-expanded="false"><i
                                class="mdi mdi-receipt"></i><span class="hide-menu">员工管理 </span></a>
                            <ul aria-expanded="false" class="collapse  first-level">
                                <div th:if="${#strings.substring(session.staffType,0,1)}eq'1'">
                                    <li class="sidebar-item"><a href="/index-staff" class="sidebar-link"><i
                                            class="mdi mdi-note-outline"></i><span class="hide-menu">员工信息</span></a>
                                    </li>
                                </div>
                                <li class="sidebar-item"><a href="/index-duty-statistics" class="sidebar-link"><i
                                        class="mdi mdi-note-plus"></i><span class="hide-menu">当班统计 </span></a></li>
                                <li class="sidebar-item"><a href="/index-chart-statistics" class="sidebar-link"><i
                                        class="mdi mdi-note-plus"></i><span class="hide-menu">任务详情</span></a></li>
                            </ul>
                        </li>
                    </div>
                    <div th:if="${#strings.substring(session.staffType,5,6)}eq'1'">
                        <li class="sidebar-item"><a class="sidebar-link has-arrow waves-effect waves-dark"
                                                    href="javascript:void(0)" aria-expanded="false"><i
                                class="mdi mdi-receipt"></i><span class="hide-menu">app管理 </span></a>
                            <ul aria-expanded="false" class="collapse  first-level">
                                <li class="sidebar-item"><a href="#" class="sidebar-link"><i
                                        class="mdi mdi-note-plus"></i><span class="hide-menu">业务报表 </span></a></li>
                            </ul>
                        </li>
                    </div>
                    <li class="sidebar-item"><a class="sidebar-link has-arrow waves-effect waves-dark"
                                                href="javascript:void(0)" aria-expanded="false"><i
                            class="mdi mdi-receipt"></i><span class="hide-menu">
                                    系统设置 </span></a>
                        <ul aria-expanded="false" class="collapse  first-level">
                            <li class="sidebar-item"><a href="#" class="sidebar-link"><i
                                    class="mdi mdi-note-outline"></i><span class="hide-menu">停车场设置 </span></a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </aside>
    <div class="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="col-lg-4">
                            <div class="card-body">
                                <h4 class="card-title"><font style="vertical-align: inherit;"><font
                                        style="vertical-align: inherit;">停车场信息</font></font></h4>
                                <div class="form-group row">
                                    <label class="col-sm-3 text-left control-label col-form-label"><font
                                            style="vertical-align: inherit;"><font
                                            style="vertical-align: inherit;">停车场名称</font></font></label>
                                    <div class="col-sm-3">
                                        <input type="text" class="form-control" id="parking_lot_name"
                                               th:value="${parking_lot_name}">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 text-left control-label col-form-label"><font
                                            style="vertical-align: inherit;"><font
                                            style="vertical-align: inherit;">停车场区域设置</font></font></label>
                                    <div class="col-sm-3">
                                        <select class="select2 form-control custom-select select2-hidden-accessible"
                                                style="width: 100%; height:33px;" data-select2-id="1" tabindex="-1"
                                                aria-hidden="true" name="select" id="zone_type">
                                            <option value="一类地区">一类地区</option>
                                            <option value="二类地区">二类地区</option>
                                            <option value="三类地区">三类地区</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 text-left control-label col-form-label"><font
                                            style="vertical-align: inherit;"><font
                                            style="vertical-align: inherit;">车位总数量</font></font></label>
                                    <div class="col-sm-3">
                                        <input type="text" class="form-control" id="parking_space_number"
                                               th:value="${parking_space_number}">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 text-left control-label col-form-label"><font
                                            style="vertical-align: inherit;"><font
                                            style="vertical-align: inherit;">固定车位总数</font></font></label>
                                    <div class="col-sm-3">
                                        <input type="text" class="form-control" id="fixed_space_number"
                                               th:text="${fixed_space_number}">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 text-left control-label col-form-label"><font
                                            style="vertical-align: inherit;"><font
                                            style="vertical-align: inherit;">临时车位总数</font></font></label>
                                    <div class="col-sm-3">
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <h4 class="card-title"><font style="vertical-align: inherit;"><font
                                        style="vertical-align: inherit;">支付设置</font></font></h4>
                                <p class="m-t-20">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <input type="checkbox" checked="checked" id="charge_open"
                                               th:attr ="checked=${charge_open}eq '1'"><label>启用收费功能</label>
                                    </div>
                                    <div class="col-lg-6">
                                        <input type="checkbox" checked="checked" id="account_open"
                                               th:attr ="checked=${account_open}eq '1'"><label>启用打折功能</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <input type="checkbox" checked="checked" id="coupon_open"
                                               th:attr ="checked=${coupon_open}eq '1'"><label>启用优惠卷功能</label>
                                    </div>
                                    <div class="col-lg-6">
                                        <input type="checkbox" checked="checked"
                                               id="fixed_past"
                                               th:attr ="checked=${fixed_past}eq '1'"><label>车牌过期后临时收费</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <input type="checkbox" checked="checked" id="nobody"
                                               th:attr ="checked=${nobody}eq '1'"><label>无人值守时</label>
                                        <input type="checkbox" id="forbid_out"
                                               th:attr ="checked=${forbid_out}eq '1'"><label>禁止出场</label>
                                        <input type="checkbox" checked="checked" id="save_data"
                                               th:attr ="checked=${save_data}eq '1'"><label>保存出场数据</label>
                                    </div>
                                </div>
                                </p>
                            </div>
                            <div class="card-body">
                                <h4 class="card-title"><font style="vertical-align: inherit;"><font
                                        style="vertical-align: inherit;">打印设置</font></font></h4>
                                <p class="m-t-20">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <input type="checkbox" checked="checked" id="print_open"
                                               th:attr ="checked=${print_open}eq '1'"><label>启用打印功能</label>
                                    </div>
                                </div>
                                </p>
                            </div>
                            <div class="card-body">
                                <h4 class="card-title"><font style="vertical-align: inherit;"><font
                                        style="vertical-align: inherit;">收费规则设置</font></font></h4>
                                <p class="m-t-20">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <input type="checkbox" id="commonRule"
                                               th:attr ="checked=${commonRule}eq '1'"><label>默认公共停车场规则</label>
                                    </div>
                                    <div class="col-lg-6">
                                        <input type="checkbox" checked="checked" id="customRule"
                                               th:attr ="checked=${customRule}eq '1'"><label>自定义规则</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <input type="checkbox" checked="checked" id="personRule"
                                               th:attr ="checked=${personRule}eq '1'"><label>私人规则</label>
                                    </div>
                                    <div class="col-lg-6">
                                        <input type="checkbox" id="interimRule"
                                               th:attr ="checked=${interimRule}eq '1'"><label>启用临时规则</label>
                                    </div>
                                </div>
                                </p>
                            </div>
                            <div class="card-body">
                                <button type="button" class="btn btn-danger" id="restart">恢复默认设置</button>
                                <button type="button" class="btn btn-secondary" id="reset">重置</button>
                                <span class="text-muted float-right">
                                        <button type="button" class="btn btn-primary" id="save">保存</button>
                                    </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer text-center">
            All Rights Reserved by Matrix-admin. Designed and Developed by <a href="https://wrappixel.com">zhichao</a>.
        </footer>
    </div>
</div>
<script src="assets/libs/jquery/dist/jquery.min.js"></script>
<script src="dist/js/jquery.ui.touch-punch-improved.js"></script>
<script src="dist/js/jquery-ui.min.js"></script>
<script src="assets/libs/popper.js/dist/umd/popper.min.js"></script>
<script src="assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
<script src="assets/extra-libs/sparkline/sparkline.js"></script>
<script src="dist/js/waves.js"></script>
<script src="dist/js/sidebarmenu.js"></script>
<script src="dist/js/custom.min.js"></script>
<script src="assets/libs/moment/min/moment.min.js"></script>
<script src="assets/libs/fullcalendar/dist/fullcalendar.min.js"></script>
<script src="dist/js/pages/calendar/cal-init.js"></script>
<script src="assets/libs/chart/matrix.interface.js"></script>
<script src="assets/libs/chart/excanvas.min.js"></script>
<script src="assets/libs/flot/jquery.flot.js"></script>
<script src="assets/libs/flot/jquery.flot.pie.js"></script>
<script src="assets/libs/flot/jquery.flot.time.js"></script>
<script src="assets/libs/flot/jquery.flot.stack.js"></script>
<script src="assets/libs/flot/jquery.flot.crosshair.js"></script>
<script src="assets/libs/chart/jquery.peity.min.js"></script>
<script src="assets/libs/chart/matrix.charts.js"></script>
<script src="assets/libs/chart/jquery.flot.pie.min.js"></script>
<script src="assets/libs/flot.tooltip/js/jquery.flot.tooltip.min.js"></script>
<script src="assets/libs/chart/turning-series.js"></script>
<script src="dist/js/pages/chart/chart-page-init.js"></script>
<script src="js/index-parking-lot-setting.js"></script>
<script language="JavaScript" type="text/javascript">
    $('#save').bind('click', function () {
        console.log("!!!!")
        const parking_lot_name      = $('#parking_lot_name').val()
        const zone_type             = $('#zone_type').val()
        const parking_space_number  = $('#parking_space_number').val()
        const charge_open           = $('#charge_open').is(':checked')
        const account_open          = $('#account_open').is(':checked')
        const coupon_open           = $('#coupon_open').is(':checked')
        const fixed_past            = $('#fixed_past').is(':checked')
        const nobody                = $('#nobody').is(':checked')
        const forbid_out            = $('#forbid_out').is(':checked')
        const save_data             = $('#save_data').is(':checked')
        const print_open            = $('#print_open').is(':checked')
        const commonRule            = $('#commonRule').is(':checked')
        const customRule            = $('#customRule').is(':checked')
        const interimRule           = $('#interimRule').is(':checked')
        const personRule            = $('#personRule').is(':checked')
        const t = confirm("是否确认添加？");
        if (t == true) {
            if (!isNaN(parking_space_number)) {
                const Data = {
                    "parking_lot_name": parking_lot_name,
                    "zone_type": zone_type,
                    "parking_space_number": parking_space_number,
                    "charge_open": charge_open,
                    "account_open": account_open,
                    "coupon_open": coupon_open,
                    "fixed_past": fixed_past,
                    "nobody": nobody,
                    "forbid_out": forbid_out,
                    "save_data": save_data,
                    "print_open": print_open,
                    "commonRule": commonRule,
                    "customRule": customRule,
                    "interimRule": interimRule,
                    "personRule": personRule,
                    "random": new Date()
                }
                $.ajax({
                    type: "post",
                    url: "/index-parking-lot-setting/addParkingSetting",
                    contentType: 'application/json;charset=utf-8',
                    data: JSON.stringify(Data),
                    dataType: "text",
                    success: function (data) {
                        location.reload()
                    },
                    error: function (date) {
                        alert("失败")
                    }
                })
            } else {
                alert("请输入正确的数字")
                return false;
            }
        } else {
            return false;
        }
    });

</script>
</body>
</body>
</html>