<!DOCTYPE html>
<html dir="ltr" lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicon.png">
    <title>Matrix Template - The Ultimate Multipurpose admin template</title>
    <!-- Custom CSS -->
    <link href="assets/libs/fullcalendar/dist/fullcalendar.min.css" rel="stylesheet"/>
    <link href="assets/extra-libs/calendar/calendar.css" rel="stylesheet"/>
    <link href="assets/libs/flot/css/float-chart.css" rel="stylesheet">
    <link href="dist/css/style.min.css" rel="stylesheet">
</head>
<body>
<div class="preloader">
    <div class="lds-ripple">
        <div class="lds-pos"></div>
        <div class="lds-pos"></div>
    </div>
</div>
<div id="main-wrapper">
    <header class="topbar" data-navbarbg="skin5">
        <nav class="navbar top-navbar navbar-expand-md navbar-dark">
            <div class="navbar-header" data-logobg="skin5">
                <a class="nav-toggler waves-effect waves-light d-block d-md-none" href="javascript:void(0)"><i
                        class="ti-menu ti-close"></i></a>
                <a class="navbar-brand" href="index.html">
                    <b class="logo-icon p-l-10">
                        <img src="assets/images/logo-icon.png" alt="homepage" class="light-logo"/>
                    </b>
                    <span class="logo-text">
                            <img src="assets/images/logo-text.png" alt="homepage" class="light-logo"/>
                        </span>
                </a>
                <a class="topbartoggler d-block d-md-none waves-effect waves-light" href="javascript:void(0)"
                   data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                   aria-expanded="false" aria-label="Toggle navigation"><i class="ti-more"></i></a>
            </div>
            <div class="navbar-collapse collapse" id="navbarSupportedContent" data-navbarbg="skin5">
                <ul class="navbar-nav float-left mr-auto">
                    <li class="nav-item d-none d-md-block"><a class="nav-link sidebartoggler waves-effect waves-light"
                                                              href="javascript:void(0)" data-sidebartype="mini-sidebar"><i
                            class="mdi mdi-menu font-24"></i></a></li>
                </ul>
                <ul class="navbar-nav float-right">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark pro-pic" href=""
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img
                                src="assets/images/users/1.jpg" alt="user" class="rounded-circle" width="31"></a>
                        <div class="dropdown-menu dropdown-menu-right user-dd animated">
                            <a class="dropdown-item" href="javascript:void(0)"><i class="ti-settings m-r-5 m-l-5"></i>
                                修改密码</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="javascript:void(0)"><i
                                    class="fa fa-power-off m-r-5 m-l-5"></i> 登出</a>
                            <div class="dropdown-divider"></div>
                            <div class="p-l-30 p-10"><a href="javascript:void(0)"
                                                        class="btn btn-sm btn-success btn-rounded">View Profile</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <aside class="left-sidebar" data-sidebarbg="skin5">
        <div class="scroll-sidebar">
            <nav class="sidebar-nav">
                <ul id="sidebarnav" class="p-t-30">
                    <li class="sidebar-item"><a class="sidebar-link waves-effect waves-dark sidebar-link" href="#"
                                                aria-expanded="false"><i class="mdi mdi-view-dashboard"></i><span
                            class="hide-menu"> 首页</span></a></li>

                    <div th:if="${#strings.substring(session.staffType,3,4)}eq'1'">
                        <li class="sidebar-item"><a class="sidebar-link waves-effect waves-dark sidebar-link"
                                                    href="/index-manage-parking" aria-expanded="false"><i
                                class="mdi mdi-view-dashboard"></i><span class="hide-menu"> 车场管理</span></a></li>
                    </div>
                    <div th:if="${#strings.substring(session.staffType,4,5)}eq'1'">
                        <li class="sidebar-item"><a class="sidebar-link has-arrow waves-effect waves-dark"
                                                    href="javascript:void(0)" aria-expanded="false"><i
                                class="mdi mdi-receipt"></i><span class="hide-menu">缴费管理 </span></a>
                            <ul aria-expanded="false" class="collapse  first-level">
                                <li class="sidebar-item"><a href="/index-charge-rule" class="sidebar-link"><i
                                        class="mdi mdi-note-outline"></i><span class="hide-menu">收费规则 </span></a></li>
                                <li class="sidebar-item"><a href="/index-order-search" class="sidebar-link"><i
                                        class="mdi mdi-note-plus"></i><span class="hide-menu">订单查询 </span></a></li>
                                <li class="sidebar-item"><a href="/index-coupon-manage" class="sidebar-link"><i
                                        class="mdi mdi-note-plus"></i><span class="hide-menu">优惠券管理 </span></a></li>
                            </ul>
                        </li>
                    </div>
                    <div th:if="${#strings.substring(session.staffType,2,3)}eq'1'">
                        <li class="sidebar-item"><a class="sidebar-link waves-effect waves-dark sidebar-link"
                                                    href="/index-data-manage" aria-expanded="false"><i
                                class="mdi mdi-view-dashboard"></i><span class="hide-menu"> 车场数据</span></a></li>
                    </div>
                    <div th:if="${#strings.substring(session.staffType,1,2)}eq'1'">
                        <li class="sidebar-item"><a class="sidebar-link has-arrow waves-effect waves-dark"
                                                    href="javascript:void(0)" aria-expanded="false"><i
                                class="mdi mdi-receipt"></i><span class="hide-menu">员工管理 </span></a>
                            <ul aria-expanded="false" class="collapse  first-level">
                                <div th:if="${#strings.substring(session.staffType,0,1)}eq'1'">
                                    <li class="sidebar-item"><a href="/index-staff" class="sidebar-link"><i
                                            class="mdi mdi-note-outline"></i><span class="hide-menu">员工信息</span></a>
                                    </li>
                                </div>
                                <li class="sidebar-item"><a href="/index-duty-statistics" class="sidebar-link"><i
                                        class="mdi mdi-note-plus"></i><span class="hide-menu">当班统计 </span></a></li>
                                <li class="sidebar-item"><a href="/index-chart-statistics" class="sidebar-link"><i
                                        class="mdi mdi-note-plus"></i><span class="hide-menu">任务详情</span></a></li>
                            </ul>
                        </li>
                    </div>
                    <div th:if="${#strings.substring(session.staffType,5,6)}eq'1'">
                        <li class="sidebar-item"><a class="sidebar-link has-arrow waves-effect waves-dark"
                                                    href="javascript:void(0)" aria-expanded="false"><i
                                class="mdi mdi-receipt"></i><span class="hide-menu">app管理 </span></a>
                            <ul aria-expanded="false" class="collapse  first-level">
                                <li class="sidebar-item"><a href="/index-app-chart" class="sidebar-link"><i
                                        class="mdi mdi-note-plus"></i><span class="hide-menu">业务报表 </span></a></li>
                            </ul>
                        </li>
                    </div>
                    <li class="sidebar-item"><a class="sidebar-link has-arrow waves-effect waves-dark"
                                                href="javascript:void(0)" aria-expanded="false"><i
                            class="mdi mdi-receipt"></i><span class="hide-menu">
                                    系统设置 </span></a>
                        <ul aria-expanded="false" class="collapse  first-level">
                            <li class="sidebar-item"><a href="/index_parking_lot_setting" class="sidebar-link"><i
                                    class="mdi mdi-note-outline"></i><span class="hide-menu">停车场设置 </span></a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </aside>
    <div class="page-wrapper">
        <div class="page-breadcrumb">
            <div class="row">
                <div class="col-12 d-flex no-block align-items-center">
                    <h4 class="page-title">快速导航</h4>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 col-lg-2 col-xlg-3">
                    <div class="card card-hover">
                        <div class="box bg-cyan text-center">
                            <h1 class="font-light text-white"><i class="mdi mdi-view-dashboard"></i></h1>
                            <h6 class="text-white">车场管理</h6>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-xlg-3">
                    <div class="card card-hover">
                        <div class="box bg-success text-center">
                            <h1 class="font-light text-white"><i class="mdi mdi-chart-areaspline"></i></h1>
                            <h6 class="text-white">缴费管理</h6>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-2 col-xlg-3">
                    <div class="card card-hover">
                        <div class="box bg-warning text-center">
                            <h1 class="font-light text-white"><i class="mdi mdi-collage"></i></h1>
                            <h6 class="text-white">车场数据管理</h6>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-2 col-xlg-3">
                    <div class="card card-hover">
                        <div class="box bg-danger text-center">
                            <h1 class="font-light text-white"><i class="mdi mdi-border-outside"></i></h1>
                            <h6 class="text-white">员工管理</h6>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-2 col-xlg-3">
                    <div class="card card-hover">
                        <div class="box bg-info text-center">
                            <h1 class="font-light text-white"><i class="mdi mdi-arrow-all"></i></h1>
                            <h6 class="text-white">app管理</h6>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-xlg-3">
                    <div class="card card-hover">
                        <div class="box bg-danger text-center">
                            <h1 class="font-light text-white"><i class="mdi mdi-receipt"></i></h1>
                            <h6 class="text-white">系统设置</h6>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-2 col-xlg-3">
                    <div class="card card-hover">
                        <div class="box bg-info text-center">
                            <h1 class="font-light text-white"><i class="mdi mdi-relative-scale"></i></h1>
                            <h6 class="text-white">个人信息查看</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10">
                    <div class="card">
                        <div class="card-body">
                            <div class="bars" style="height: 400px;width: 1300px; padding: 0px; position: relative;">

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-6">
                                    <div class="bg-dark p-10 text-white text-center">
                                        <i class="fa fa-user m-b-5 font-16"></i>
                                        <h5 class="m-b-0 m-t-5" th:text="${AllPeople}">0</h5>
                                        <small class="font-light">所有用户</small>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="bg-dark p-10 text-white text-center">
                                        <i class="fa fa-plus m-b-5 font-16"></i>
                                        <h5 class="m-b-0 m-t-5" th:text="${newUser}">０</h5>
                                        <small class="font-light">新增用户</small>
                                    </div>
                                </div>
                                <div class="col-6 m-t-15">
                                    <div class="bg-dark p-10 text-white text-center">
                                        <i class="fa fa-cart-plus m-b-5 font-16"></i>
                                        <h5 class="m-b-0 m-t-5" th:text="${AllStaff}">０</h5>
                                        <small class="font-light">所有职员</small>
                                    </div>
                                </div>
                                <div class="col-6 m-t-15">
                                    <div class="bg-dark p-10 text-white text-center">
                                        <i class="fa fa-tag m-b-5 font-16"></i>
                                        <h5 class="m-b-0 m-t-5" th:text="${AllUser}">０</h5>
                                        <small class="font-light">所有车主</small>
                                    </div>
                                </div>
                                <div class="col-6 m-t-15">
                                    <div class="bg-dark p-10 text-white text-center">
                                        <i class="fa fa-globe m-b-5 font-16"></i>
                                        <h5 class="m-b-0 m-t-5" th:text="${AllOrder}">０</h5>
                                        <small class="font-light">所有订单</small>
                                    </div>
                                </div>
                                <div class="col-6 m-t-15">
                                    <div class="bg-dark p-10 text-white text-center">
                                        <i class="fa fa-table m-b-5 font-16"></i>
                                        <h5 class="m-b-0 m-t-5" th:text="${AllCar}">100</h5>
                                        <small class="font-light">所有车辆</small>
                                    </div>
                                </div>
                                <div class="col-6 m-t-15">
                                    <div class="bg-dark p-10 text-white text-center">
                                        <i class="fa fa-globe m-b-5 font-16"></i>
                                        <h5 class="m-b-0 m-t-5" th:text="${NowSpace}">0</h5>
                                        <small class="font-light">现有车位</small>
                                    </div>
                                </div>
                                <div class="col-6 m-t-15">
                                    <div class="bg-dark p-10 text-white text-center">
                                        <i class="fa fa-table m-b-5 font-16"></i>
                                        <h5 class="m-b-0 m-t-5" th:text="${AllSpace}">100</h5>
                                        <small class="font-light">所有车位</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title m-b-0" th:text="${session.staffName}+',你好'"></h4>
                        </div>
                        <ul class="list-style-none">
                            <li class="card-body border-top">
                                <a class="m-b-0 p-0">
                                    <div class="d-flex no-block">
                                        <i class="fa fa-user w-30px m-t-5"></i>
                                        <div>
                                            <span class="font-bold">你的身份: </span> 管理员
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="card-body border-top">
                                <a class="m-b-0 p-0">
                                    <div class="d-flex no-block">
                                        <i class="fa fa-check-circle w-30px m-t-5"></i>
                                        <div id="time_refresh" th:fragment="time_refresh">
                                            <span class="font-bold">当前时间:</span> [[${#dates.format(new
                                            java.util.Date().getTime(), 'yyyy-MM-dd hh:mm:ss')}]]
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="card-body border-top">
                                <a class="m-b-0 p-0">
                                    <div class="d-flex no-block">
                                        <i class="fa fa-gift w-30px m-t-5"></i>
                                        <div>
                                            <span class="font-bold" th:text="'当前任务:'+${currentTask}"></span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="card-body border-top">
                                <a class="m-b-0 p-0">
                                    <div class="d-flex no-block">
                                        <i class="fa fa-gift w-30px m-t-5"></i>
                                        <div>
                                            <span class="font-bold">所有任务:</span> 10
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="card-body border-top">
                                <a class="m-b-0 p-0">
                                    <div class="d-flex no-block">
                                        <i class="fa fa-check-circle w-30px m-t-5"></i>
                                        <div>
                                            <span class="font-bold">上次登录时间:</span> 2020.3.7
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title m-b-0">当前任务</h5>
                        </div>
                        <div class="result" th:fragment="result">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th scope="col">描述</th>
                                    <th scope="col">状态</th>
                                    <th scope="col">开始日期</th>
                                    <th scope="col">动作</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="stat:${AllTask}">
                                    <td th:text="${stat.description}">打卡上班</td>
                                    <td class="text-success" th:text="${stat.status}">未开始</td>
                                    <td th:text="${#dates.format(stat.startingTime, 'yyyy-MM-dd')}">打卡上班</td>
                                    <td>
                                        <a href="#" data-toggle="tooltip" data-placement="top" title="Update">
                                            <i class="mdi mdi-check"></i>
                                        </a>
                                        <a href="#" data-toggle="tooltip" data-placement="top" title="Delete">
                                            </i><i class="mdi mdi-close"></i>
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="card-body border-top">
                                <div class="col-sm-12 col-md-12">
                                    <div class="dataTables_paginate paging_simple_numbers" id="zero_config_paginate">
                                        <ul class="pagination">
                                            <li class="paginate_button page-item previous"
                                                th:if="${nowPage-1 >=1}"
                                                id="zero_config_previous"><a
                                                    aria-controls="zero_config"
                                                    data-dt-idx="0"
                                                    tabindex="0"
                                                    class="page-link"
                                                    th:onclick="|javascript : selectPage( [[${nowPage-1}]] )|">上一页</a>
                                            </li>
                                            <li class="paginate_button page-item previous"><a
                                                    aria-controls="zero_config"
                                                    data-dt-idx="0"
                                                    tabindex="0"
                                                    class="page-link"
                                                    th:onclick="|javascript : selectPage( '1' )|"
                                            >首页</a>
                                            </li>
                                            <li class="paginate_button page-item"
                                                th:if="${nowPage-3 >=1}">
                                                <a aria-controls="zero_config" data-dt-idx="2"
                                                   tabindex="0" class="page-link" th:text="${nowPage-3}"
                                                   th:onclick="|javascript : selectPage( [[${nowPage-3}]] )|"
                                                >
                                                </a>
                                            </li>
                                            <li class="paginate_button page-item"
                                                th:if="${nowPage-2 >=1}">
                                                <a aria-controls="zero_config" data-dt-idx="2"
                                                   tabindex="0" class="page-link" th:text="${nowPage-2}"
                                                   th:onclick="|javascript : selectPage( [[${nowPage-2}]] )|"
                                                >
                                                </a>
                                            </li>
                                            <li class="paginate_button page-item"
                                                th:if="${nowPage-1 >=1}">
                                                <a aria-controls="zero_config" data-dt-idx="2"
                                                   tabindex="0" class="page-link" th:text="${nowPage-1}"
                                                   th:onclick="|javascript : selectPage( [[${nowPage-1}]] )|"
                                                >
                                                </a>
                                            </li>
                                            <li class="paginate_button page-item active">
                                                <a aria-controls="zero_config" data-dt-idx="1"
                                                   tabindex="0" class="page-link" th:text="${nowPage}"
                                                   th:onclick="|javascript : selectPage( [[${nowPage}]] )|"
                                                >
                                                </a>
                                            </li>
                                            <li class="paginate_button page-item"
                                                th:if="${nowPage+1 <=totalPage}">
                                                <a aria-controls="zero_config" data-dt-idx="2"
                                                   tabindex="0" class="page-link" th:text="${nowPage+1}"
                                                   th:onclick="|javascript : selectPage( [[${nowPage+1}]] )|"
                                                >
                                                </a>
                                            </li>
                                            <li class="paginate_button page-item"
                                                th:if="${nowPage+2 <=totalPage}">
                                                <a aria-controls="zero_config" data-dt-idx="2"
                                                   tabindex="0" class="page-link" th:text="${nowPage+2}"
                                                   th:onclick="|javascript : selectPage( [[${nowPage+2}]] )|"
                                                >
                                                </a>
                                            </li>
                                            <li class="paginate_button page-item"
                                                th:if="${nowPage+3 <=totalPage}">
                                                <a aria-controls="zero_config" data-dt-idx="2"
                                                   tabindex="0" class="page-link" th:text="${nowPage+3}"
                                                   th:onclick="|javascript : selectPage( [[${nowPage+3}]] )|"
                                                >
                                                </a>
                                            </li>
                                            <li class="paginate_button page-item next">
                                                <a aria-controls="zero_config" data-dt-idx="2"
                                                   tabindex="0" class="page-link"
                                                   th:onclick="|javascript : selectPage([[${totalPage}]])|">尾页
                                                </a>
                                            </li>
                                            <li class="paginate_button page-item next"
                                                id="zero_config_next"
                                                th:if="${nowPage<=totalPage&&totalPage!=1}"><a
                                                    aria-controls="zero_config"
                                                    data-dt-idx="2"
                                                    tabindex="0"
                                                    class="page-link"
                                                    th:onclick="|javascript : selectPage( [[${nowPage+1}]] )|">下一页</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title m-b-0">流程图</h5>
                        </div>
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">权限</th>
                                <th scope="col">描述</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>员工生成权限</td>
                                <td>
                                    添加职工→分配权限
                                </td>
                            </tr>
                            <tr>
                                <td>员工管理权限</td>
                                <td>
                                    指定角色→分配任务→检查当班日志
                                </td>
                            </tr>
                            <tr>
                                <td>信息查看权限</td>
                                <td>
                                    查看信息(禁止修改)
                                </td>
                            </tr>
                            <tr>
                                <td>车场管理权限</td>
                                <td>
                                    点击上班→控制车辆进出(同时管理停车场内部详情)→下班
                                </td>
                            </tr>
                            <tr>
                                <td>缴费管理权限</td>
                                <td>
                                    缴费管理→修改或添加停车场规则
                                </td>
                            </tr>
                            <tr>
                                <td>Android管理权限</td>
                                <td>
                                    app管理
                                </td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                    <div class="card">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#home"
                                                    role="tab"><span class="hidden-sm-up"></span> <span
                                    class="hidden-xs-down">收费规则</span></a></li>
                            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#profile" role="tab"><span
                                    class="hidden-sm-up"></span> <span class="hidden-xs-down">出场流程</span></a></li>
                            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#messages" role="tab"><span
                                    class="hidden-sm-up"></span> <span class="hidden-xs-down">出场流程</span></a></li>
                            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#count" role="tab"><span
                                    class="hidden-sm-up"></span> <span class="hidden-xs-down">计费流程</span></a></li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content tabcontent-border">
                            <div class="tab-pane active" id="home" role="tabpanel">
                                <div class="accordion" id="accordionExample">
                                    <div class="card m-b-0">
                                        <div class="card-header" id="headingOne">
                                            <h5 class="mb-0">
                                                <a data-toggle="collapse" data-target="#collapseOne"
                                                   aria-expanded="true" aria-controls="collapseOne" class="">
                                                    <i class="m-r-5 fa fa-magnet" aria-hidden="true"></i>
                                                    <span>公共停车场收费规则</span>
                                                </a>
                                            </h5>
                                        </div>
                                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                             data-parent="#accordionExample" style="">
                                            <div class="card-body">
                                                <p>公共停车场</p>
                                                <p>公共停车场根据类型划分为:</p>
                                                <p>一级区域:由政府投资建设(含合资建设)的各类机关、 事业单位办公场所
                                                <P>的配套停车场，医院、学校配套停车场， 政府投资建设（含合资建设）的公园、</P>
                                                <P>博物馆、图书馆、 青少年宫、文化宫、体育场馆、音乐厅、影剧院、 会展中心、</P>
                                                <P>新闻单位等场所配套停车场；</P>
                                                <p>二级区域:工业区、物园区配套停车场；</p>
                                                <p>三级区域:临时类停车场。</p>
                                                <p>停车时间横跨多个时段，按照每个时段的收费累计标准</p>
                                                <p>停车场由所在区价格主管部门会同公安、城市管理部门认定后，经市价格主管部门同意，可以在政府指导价的基础上上浮，浮动幅度不超过50%；</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card m-b-0 border-top">
                                        <div class="card-header" id="headingThree">
                                            <h5 class="mb-0">
                                                <a class="collapsed" data-toggle="collapse" data-target="#collapseThree"
                                                   aria-expanded="false" aria-controls="collapseThree">
                                                    <i class="m-r-5 fa fa-magnet" aria-hidden="true"></i>
                                                    <span>固定车位收费规则</span>
                                                </a>
                                            </h5>
                                        </div>
                                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                                             data-parent="#accordionExample" style="">
                                            <div class="card-body">
                                                <p>固定车位</p>
                                                <p>固定车位是指根据用户需求,提前录入车牌车主信息，并缴纳一定的费用，</p>
                                                <p>则可以在一定时期内任意进出或者停放指定车辆</p>
                                                <p>固定车位按类型划分两个类型:</p>
                                                <p>1.室内车位 2.固定车位</p>
                                                <p>经营者可以在上浮幅度为零，下浮幅度不限的范围内制定具体价格。</p>
                                                <p>室内停车场指永久性的混砖结构或框架结构的停车场。用铁皮等搭建的简易室内停车场，</p>
                                                <p>其按月停放收费标准可以在露天停车场收费标准的基础上上浮，但最高不超过20%。</p>
                                                <p>住宅类停车场临时停车同一天内多次进出的，可多次按规定的收费标准收费，但应当遵守每天最高收费限额的规定；</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane  p-20" id="profile" role="tabpanel">
                                <div class="p-20">
                                    <img src="/assets/images/background/enter.PNG" class="img-fluid">
                                </div>
                            </div>
                            <div class="tab-pane p-20" id="messages" role="tabpanel">
                                <div class="p-20">
                                    <img src="/assets/images/background/outer.PNG" class="img-fluid">
                                </div>
                            </div>
                            <div class="tab-pane p-20" id="count" role="tabpanel">
                                <div class="p-20">
                                    <img src="/assets/images/background/count.PNG" class="img-fluid">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer text-center">
            All Rights Reserved by Matrix-admin. Designed and Developed by <a href="https://wrappixel.com">zhichao</a>.
        </footer>
    </div>
</div>
<script src="assets/libs/jquery/dist/jquery.min.js"></script>
<script src="dist/js/jquery.ui.touch-punch-improved.js"></script>
<script src="dist/js/jquery-ui.min.js"></script>
<script src="assets/libs/popper.js/dist/umd/popper.min.js"></script>
<script src="assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
<script src="assets/extra-libs/sparkline/sparkline.js"></script>
<script src="dist/js/waves.js"></script>
<script src="dist/js/sidebarmenu.js"></script>
<script src="dist/js/custom.min.js"></script>
<script src="assets/libs/moment/min/moment.min.js"></script>
<script src="assets/libs/fullcalendar/dist/fullcalendar.min.js"></script>
<script src="dist/js/pages/calendar/cal-init.js"></script>
<script src="assets/libs/chart/matrix.interface.js"></script>
<script src="assets/libs/chart/excanvas.min.js"></script>
<script src="assets/libs/flot/jquery.flot.js"></script>
<script src="assets/libs/flot/jquery.flot.pie.js"></script>
<script src="assets/libs/flot/jquery.flot.time.js"></script>
<script src="assets/libs/flot/jquery.flot.stack.js"></script>
<script src="assets/libs/flot/jquery.flot.crosshair.js"></script>
<script src="assets/libs/chart/jquery.peity.min.js"></script>
<script src="assets/libs/chart/jquery.flot.pie.min.js"></script>
<script src="assets/libs/flot.tooltip/js/jquery.flot.tooltip.min.js"></script>
<script src="assets/libs/chart/turning-series.js"></script>
<script src="dist/js/pages/chart/chart-page-init.js"></script>
<script language="JavaScript" type="text/javascript">
    function selectPage(page) {
        $.ajax({
            type: "get",
            url: "/page",
            data: "page=" + Number(page),
            dataType: "text",
            success: function (data) {
                $(".result").html(data);
            },
            error: function (date) {
                alert("失败")
            }
        })
    }
</script>
<!--<script language="JavaScript" type="text/javascript" th:inline="javascript">-->
<!--    const type = [[${chartResult}]];-->
<!--    const data = new Array();-->
<!--    const date=new Date(new Date().toLocaleDateString()).getTime()-->

<!--    //分割字符串-->
<!--    function formatDate(number) {-->
<!--        const re1 = /.*[\u4e00-\u9fa5]+.*/;-->
<!--        for (let i = 0; i < number.length; i++) {-->
<!--            if (re1.test(number[i])) {-->
<!--                number = number.substr(0, i - 1);-->
<!--            }-->
<!--        }-->
<!--        return number;-->
<!--    };-->

<!--    let j=9;-->
<!--    for (let i = 0; i <10; i++) {-->
<!--        data.push([date-j*60*60*24*1000, type[i]])-->
<!--        console.log(type[i])-->
<!--        j&#45;&#45;;-->
<!--    }-->


<!--    $(document).ready(function () {-->
<!--        var options = {-->
<!--            series: {-->
<!--                bars: {show: true}-->
<!--            },-->
<!--            bars: {-->
<!--                barWidth: 60*60*24*1000*0.8-->
<!--            },-->
<!--            xaxis: {-->
<!--                mode: "time",-->
<!--                timeformat: "%m/%d"-->
<!--            }-->
<!--        };-->
<!--        $.plot($(".bars"), [data], options);-->
<!--    });-->
<!--</script>-->
<script language="JavaScript" type="text/javascript" th:inline="javascript">
    const type = [[${chartResult}]];
    const data = new Array();
    const date = new Date(new Date().toLocaleDateString()).getTime()

    let j = 9;
    for (let i = 0; i < 10; i++) {
        data.push([date - j * 60 * 60 * 24 * 1000, type[i]])
        console.log(type[i])
        j--;
    }
    $(function () {
        var data1 = [{
            label: "data1",
            data: data,
            bars: {
                show: true,
                barWidth: 60 * 60 * 24 * 1000 * 0.8
            }
        }, {
            label: "data2",
            data: data,
            lines: {
                show: true
            },
            points: {
                show: true
            }
        }];

        var options = {
            xaxis: {
                mode: "time",
                timeformat: "%m/%d"
            }
        };

        $.plot($(".bars"), data1, options);
    });
</script>
</body>
</body>
</html>