<!-- HTML -->
<div id="example-section3">
    <div id="flotcontainer" style="width: 600px;height:200px; text-align: center; margin:0 auto;">
    </div>
</div>


<!-- Javascript -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="http://www.pureexample.com/js/flot/excanvas.min.js"></script>
<script src="http://www.pureexample.com/js/flot/jquery.flot.min.js"></script>
<script type="text/javascript">
    var data1 = [
        [10, 10], [20, 15], [30, 22], [40, 18], [50, 50], [60, 10],
        [70, 10], [80, 15], [90, 22], [100, 18], [110, 50], [120, 10],
        [130, 10], [140, 15], [150, 22], [160, 18], [170, 50], [180, 10],
        [190, 10], [200, 15], [210, 22], [220, 18], [230, 50], [240, 10]
    ];

    $(document).ready(function(){
        $.plot($("#example-section3 #flotcontainer"), [
            {
                data: data1,
                lines: { show: true}
            }
        ]);

    });
</script>